<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
    <!-- 引入 ECharts 文件 -->
    <script th:src="@{../echarts.min.js}"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    var base = +new Date(2014, 9, 3);
    var oneDay = 24 * 3600 * 1000;
    var date = [];

        var data = [Math.random() * 150];
    var now = new Date(base);


    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于
        // index = new WebSocket("ws://localhost:8080/websocket/2");
        index = new WebSocket("ws://localhost:8080/websocket/" + uuid());
        // index = new WebSocket("${basePath}websocket/${cid}".replace("http","ws"));
        //打开事件
        index.onopen = function () {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        index.onmessage = function (msg) {
            function addData(shift) {
                now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/');
                date.push(now);
                data.push((Math.random() - 0.4) * 10 + data[data.length - 1]);

                if (shift) {
                    date.shift();
                    data.shift();
                }

                now = new Date(+new Date(now) + oneDay);
            }

            for (var i = 1; i < 100; i++) {
                addData();
            }

            option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: date
                },
                yAxis: {
                    boundaryGap: [0, '50%'],
                    type: 'value'
                },
                series: [
                    {
                        name:'成交',
                        type:'line',
                        smooth:true,
                        symbol: 'none',
                        stack: 'a',
                        areaStyle: {
                            normal: {}
                        },
                        data: data
                    }
                ]
            };

            var optionServer = JSON.parse(msg.data);

            // setInterval(function () {
                // addData(true);
                myChart.setOption(optionServer);
            // }, 500);

            console.log("optionServer: "+ JSON.stringify(optionServer));
            console.log("option: "+ JSON.stringify(option));
            //发现消息进入    开始处理前端触发逻辑
        };
        //关闭事件
        index.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        index.onerror = function () {
            alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
        //离开页面时，关闭socket
        //jquery1.8中已经被废弃，3.0中已经移除
        // $(window).unload(function(){
        //     socket.close();
        //});
    }

    function uuid() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";
        var uuid = s.join("");
        return uuid;
    }


</script>
</body>

</html>